<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<th:block th:replace="~{/layout/layout :: setContent(~{this :: content})}">

  <th:block th:fragment="content">

    <h1>BookSearch List Page
    <a th:href="@{/booksearch/register}">
      <button type="button" class="btn btn-outline-primary">REGISTER</button>
    </a></h1>

    <table class="table table-striped">
      <thead>  <!--   머리글   -->
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">RegDate</th>
      </tr>
      </thead>

      <tbody>  <!-- 내용  -->
      <!--  thymeleaf 반복문   -->
      <tr th:each="dto : ${result.dtoList}">
        <th scope="row">
          <a th:href="@{/booksearch/read(bno=${dto.bno}, page=${result.page})}">[[${dto.bno}]]
          </a></th>
        <td>[[${dto.title}]]</td>
        <td>[[${dto.author}]]</td>
        <td>[[${dto.price}]]</td>
        <!--    날짜 출력 포멧    -->
        <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
      </tr>

      </tbody>

    </table>

    <ul class="pagination h-100 justify-content-center align-items-center">

      <!--  이전 링크    -->
      <li class="page-item" th:if="${result.prev}">
        <a class="page-link" th:href="@{/booksearch/list(page=${result.start-1})}"
           tabindex="-1">Previous</a>
      </li>

      <!--  페이지 번호   -->
      <li th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
          th:each="page: ${result.pageList}">
        <a class="page-link" th:href="@{/booksearch/list(page=${page})}"
           tabindex="-1">[[${page}]]</a>
      </li>

      <!--  다음 링크    -->
      <li class="page-item" th:if="${result.next}">
        <a class="page-link" th:href="@{/booksearch/list(page=${result.end+1})}">Next</a>
      </li>

    </ul>



    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Book! [[${msg}]]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Registed new Book!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            onclick="$('.modal').hide()">CONFIRM</button>
          </div>
        </div>
      </div>
    </div>





  </th:block>

</th:block>


<script th:inline="javascript">
  var msg = [[${msg}]];
  console.log(msg);

  if(msg){
    $(".modal").show();
  }

</script>

</html>